<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="connect" connectionString="Server=8.38.89.8;Database=smsuat;Uid=tester;Pwd=123456;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="from" value="no-reply@wirepick.com" />
    <!--<add key ="sender" value="no_reply@wirepick.com"/>
    <add key="subject" value="Friendly Reminder- Overdue Payment Notification"/>-->
    <add key="bcc" value="technical@wirepick.com" />
    <add key="startHr" value="08" />
    <add key="startMin" value="00" />
    <add key="startSec" value="00" />
    <add key="interval" value="24" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="wirepick.com" port="2525" userName="no-reply@wirepick.com" password="0l@E]f7$4v1R" enableSsl="true" />
        <!--<network  host="wirepick.com" port="2525" userName="wpktest@wirepick.com" password="12348765" enableSsl="true"/>-->
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>